*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
*.so
*.a
*.conv.*
*.tar
*.weights
voc_training/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
darknet
.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

# Intermediate files
pq_tool_training/dataset/*
!pq_tool_training/dataset/label_dataset.py
pq_tool_training/backup
pq_tool_training/results
pq_tool_training/pq_tool.names
anchors5.txt
*.mp4
*.MOV
bad.list
log
